.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

  .logo {
  display: flex;
  font-weight: bold;
  font-size: 19px;
  color: #333;
  align-items: center; 
  gap: 8px; 
  text-decoration: none; 
}


.nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.logo span {
  font-size: 18px;
  font-weight: 600;
  color: black;
}

.shareBtn {
  background-color: #4caf50;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}

.loginBtn {
  color: #2196f3;
}

.signupBtn {
  color: #ff5722;
}

.logoutBtn {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  font-size: 16px;
}

.modal {
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background: rgba(0,0,0,0.5);
  display:flex;
  justify-content:center;
  align-items:center;
}

.modalContent {
  background:#fff;
  padding:20px;
  border-radius:8px;
  display:flex;
  flex-direction:column;
  gap:10px;
}