.root {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinnerWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
}
