.locationDescription {
  display: grid;
  gap: 16px;
  margin: 0 auto;
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--coral-darkest);
  white-space: pre-line;
}

@media screen and (min-width: 768px) {
  .locationDescription {
    width: 865px;
  }
  .text {
    font-size: 16px;
  }
}

@media screen and (min-width: 1440px) {
  .text {
    font-size: 18px;
  }
}
