.advantages {
  padding-top: 104px;
  padding-bottom: 72px;
}

.title {
  font-weight: 700;
  font-size: 28px;
  line-height: 120%;
  letter-spacing: -1%;
  color: rgba(27, 57, 27, 1);
  margin-bottom: 32px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  background-color: rgba(255, 229, 217, 1);
  border-radius: 16px;
}

.itemTitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: -1%;
  color: #1b391b;
}

.itemDescription {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #1b391b;
}

@media (min-width: 768px) {
  .title {
    font-size: 44px;
  }

  .list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .item {
    flex-basis: calc((100% - 24px) / 2);
  }

  .item:nth-child(3) {
    flex-basis: 100%;
  }
}

@media (min-width: 1440px) {
  .advantages {
    padding-top: 152px;
    padding-bottom: 120px;
  }

  .title {
    font-size: 52px;
  }

  .list .item {
    flex-basis: calc((100% - 48px) / 3);
  }

  .itemTitle {
    font-size: 26px;
  }

  .itemDescription {
    font-size: 18px;
  }
}
