.reviews {
    padding: 64px 0;
}

.title {
    font-size: 28px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.01em;
    color: #4c2613;
    margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
    .reviews {
    padding: 64px 0;
  }
    .title {
        font-size: 44px;
    }
}

@media screen and (min-width: 1440px) {
    .reviews{
    padding: 72px 0;
  }
    .title {
        font-size: 52px;
    }
}