.grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.empty {
  text-align: center;
  font-size: 18px;
}

.loading {
  margin-top: 24px;
  text-align: center;
  font-size: 18px;
}

.buttonWrap {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

.buttonWrap button {
  width: 160px;
  height: 48px;
  font-size: 16px;
}

.buttonWrap button:hover,
.buttonWrap button:focus {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .grid {
      flex-direction: row;
      flex-wrap: wrap;
    }
}
