.details {
    display: flex;
    flex-direction: column;
    padding: 32px 0;
    gap: 24px;
    align-items: center;
    justify-content: space-between;
}

@media screen and (min-width: 1440px) {
    .details {
        flex-direction: row;
    }
    .description {
        order: 1;
    }
    .image {
        order: 2;
    }
}