
.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 335px; 
  margin: 0 auto; 
  gap: 32px; 
}

.locationsSection {
  padding: 32px 0;
  display: flex;
  flex-direction: column;
  width: 100%;
    gap: 40px; 
}

.sectionTitle {
  margin: 0;
  color: #000000;
  font-size: 28px; 
  font-weight: 700;
  text-align: left; 
}



@media (min-width: 768px) {
  .sectionTitle {
    font-size: 44px; 
  }
  .locationsSection {
    padding: 64px 0;
  }
}


@media (min-width: 1440px) {
  .sectionTitle {
    font-size: 52px; 
  }
  .locationsSection {
    padding: 72px 0;
  }
}


